<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta charset=utf-8>
  <meta name="viewport" content="width=device-width">

  <title>New member</title>

  <link rel="stylesheet" href="/bootstrap/css/mdb.min.css" />
  <link rel="stylesheet" href="/styles/index.css" />
  <script src="/bootstrap/js/mdb.min.js"></script>
  <script src="/scripts/createAccount.js"></script>

</head>

<body>

  <h1 class="text-center mt-5">Create account</h1>

  <% if (message) { %>
    <p class="error-label" style="text-align: center; font-size: 18px;">
      <%= message %>
    </p>
    <% } %>

      <form id="createAccount-form" action="/createAccount" method="POST">
        <!-- Register buttons -->

        <div class="container mt-3">
          <div class="row justify-content-center">
            <div class="col-lg-4">
              <div class="border rounded p-4">

                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input type="email" class="form-control border" id="email" name="email" required />
                  <label class="form-label" for="email">Email address</label>
                  <label class='error-label' for='email' id='emailError' hidden>* email invalid</label>

                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                  <input type="password" class="form-control border" id="password" name="password" required />
                  <label class="form-label" for="password">Password</label>
                  <label class='error-label' for='password' id='passwordError' hidden>* password must be 6 characters with 1 uppercase</label>

                </div>

                <!-- Confirm password input -->
                <div class="form-outline mb-4">
                  <input type="password" class="form-control border" id="confPassword" name="confPassword" required />
                  <label class="form-label" for="confPassword">Confirm password</label>
                  <label class='error-label' for='confPassword' id='confPasswordError' hidden>* passwords must
                    match</label>
                </div>

                <!-- show password checkbox -->
                <div class="row mb-4">
                  <div class="col d-flex justify-content-center">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="showPassword"
                        onclick="togglePassword()" /> show password
                    </div>
                  </div>
                </div>

                <!-- Submit button -->
                <button type="SUBMIT" class="btn btn-primary btn-block mb-4">Sign up</button>

                <!-- Log in button -->
                <div class="text-center">
                  <p>Already have an account? <a href="/login">Sign in</a></p>
                </div>

              </div>
            </div>
          </div>
        </div>
      </form>


</body>

</html>