/* about page */
.view-container.about{
    margin-top: 110px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.view-container.about h2{
    margin-bottom: 20px;
}

.view-container.about p {
    font-size: 20px;
}

/* Styles for most mobile devices */
@media only screen and (max-width: 768px) {

    .view-container.about{
        width: 90%;
    }

    .view-container.about p {
        font-size: 16px;
    }

}