.view-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.cart-layout {
    display: flex;
    justify-content: space-between;
    width: 92%;
}

.cart-products {
    width: 95%;
    margin-left: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cart-product {
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    padding: 15px;
    border: 1px solid #ddd;
    background-color: #fff;
    cursor: pointer;
}

.cart-product-image {
    width: 115px;
    height: 150px;
    margin-right: 10px;
}

.cart-product-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 160px;
    flex: 1;
}

.cart-product-top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.cart-product-name {
    font-size: 26px;
    font-weight: 500;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cart-product-type {
    font-size: 20px;
    font-weight: 400;
    color: #888;
}

.cart-product p {
    margin: 0px;
    padding: 0px;
}

.cart-product-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-product-price {
    width: 40px;
    display: inline-block;
    font-size: 24px;
    font-weight: 500;
}

.cart-product-qty {
    width: 50px;
    font-size: 18px;
    margin-left: 10px;
    margin-right: 5px;   
}

.cart-card-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.cart-summary {
    width: 95%;
    height: 300px;
    top: 100px;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #fff;
    margin-right: 20px;
    position: sticky;
    align-self: flex-start;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart-summary h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    text-decoration: underline;
    color: #333;
    text-align: left;
}

.cart-summary p {
    font-size: 18px;
    margin: 5px 0;
    color: #555;
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.cart-summary h4 {
    font-size: 22px;
    font-weight: 700;
    margin: 25px 0;
    color: #000;
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.checkout-button {
    display: inline-block;
    width: 75%;
    padding: 12px 0;
    background-color: #f59af1;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.checkout-button:hover {
    background-color: #eb37ffcb;
}

.checkout-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    opacity: 0.7;
}

.shop-btn {
    margin-left: 10px;
    margin-right: 10px;
}

.order-confirmation {
    width: 95%;
    border: 1px solid #ddd; 
    padding: 20px; 
    text-align: center;
    margin: 40px auto;
}

.order-confirmation h2 {
    color: #4CAF50;
    font-size: 24px;
    margin-bottom: 15px;
}

.order-confirmation p {
    font-size: 18px;
    color: #333;
    margin-bottom: 25px;
}

.order-confirmation button {
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px; 
    font-size: 16px;
    cursor: pointer;
    margin: 10px 5px;
    transition: background-color 0.3s ease;
}

.continue-shopping {
    background-color: #74a6f7;
}

.continue-shopping:hover {
    background-color: #4b8df8;
}

.create-account {
    background-color: #fd9ef8;
}

.create-account:hover {
    background-color: #f96cf2;
}

@media (max-width: 991px) {

    .view-container,
    .cart-layout {
        min-width: 524px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cart-products{
        margin: 0;
    }

    .cart-summary{
        min-width: 50vw;
        margin-top: 3vh;
        margin-left: 0;
        margin-right: 0;
    }

    .cart-layout .col-lg-8{
        margin-top: 10vh;
        margin-left: 0;
        margin-right: 0;
    } 

}