body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-width: 280px;
}

.view-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

/* nav-bar */
.nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid #bfbfbf;
    box-sizing: border-box;
    padding: 0 30px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-left,
.nav-right {
    display: flex;
    align-items: center;
}

.nav-left {
    justify-content: flex-start;
}

.nav-right {
    justify-content: flex-end;
}

.nav-right .menu-item:not(:last-child) {
    margin-right: 15px;
}

.nav-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* menu buttons */
.menu-item svg {
    cursor: pointer;
    transition: transform 0.3s ease, fill 0.3s ease;
}

.menu-item:hover svg {
    transform: scale(1.1);
    fill: #ff68b3;
}

.menu-item.active svg {
    fill: #ff68b3;
}

.nav-admin-label {
    margin-left: 2vw;
    font-size: 20px;
    font-weight: 600;
    text-decoration: underline;
}

.logo-image {
    width: 125px;
    cursor: pointer;
}

/* nav bar for mobile */
.nav-menu {
    display: none;
    flex-direction: column;
    background-color: #ccc;
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

.nav-left .menu-toggle-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: #fff;
}

.nav-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.nav-menu ul li {
    margin: 10px 0;
}

.nav-menu ul li a {
    display: block;
    color: #000000;
    font-size: 22px;
    text-decoration: none;
}

.nav-menu.open {
    display: flex;
}

.menu-item.active {
    color: #ff68b3;
    text-decoration: underline;
}

/* search button */
.search-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.search-input {
    position: absolute;
    left: 0;
    width: 0;
    margin-left: 25px;
    border: none;
    border-bottom: 2px solid black;
    background-color: transparent;
    outline: none;
    opacity: 0;
    transition: width 0.5s ease, opacity 0.5s ease;
    overflow: hidden;
}

.search-input.expanded {
    position: relative;
    margin-left: 0;
    width: 25vw;
    opacity: 1;
    border-bottom-color: #fca4d0
}

.search-icon {
    transition: fill 0.5s ease;
}

.search-icon.expanded {
    fill: #ff68b3;
}

/* Results Container Styles */
.results-container {
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    display: none;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.results-container.visible {
    display: block;
    max-height: 450px;
    overflow: scroll;
}

.result-item {
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(202, 202, 202);
    padding: 5px;
    cursor: pointer;
}

.result-image {
    display: flex;
    align-items: flex-start;
}

.result-image img {
    width: 140px;
    height: 190px;
    object-fit: cover;
    margin: 15px;
}

.result-details {
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    text-align: left;
    position: relative;
    max-height: 190px;
    flex-grow: 1;
    margin-top: 15px;
}

.result-name {
    font-size: 22px;
}

.result-type {
    font-size: 17px;
    margin-bottom: 3px;
}

.result-age {
    font-size: 17px;
    margin-bottom: 10px;
}

.result-description {
    font-size: 14px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

/* footer */
.footer {
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background-color: #ff68b494;
    margin-top: 7vh;
}

.footer-links {
    margin-top: 10px;
}

.footer-link {
    margin: 0 20px;
    color: rgb(66, 65, 65);
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
}

/* login */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.581);
}

.page-form-container {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 400px;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: 101;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    text-align: center;
}

.login-container h2 {
    text-decoration: underline;
}

.loginBtn {
    position: relative;
    width: 220px;
    height: 37px;
    cursor: pointer;
    box-sizing: border-box;
    padding: 0 15px 0 46px;
    border: none;
    border-radius: 3px;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    font-size: 14px;
    color: #FFF;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #3B5998;
    text-shadow: 0 -1px 0 #354C8C;
}

.loginBtn:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 100%;
    border-right: #364e92 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}

.loginBtn:hover {
    box-shadow: 0 0 10px 0 rgba(70, 106, 183, 0.847);
}

.error-label {
    display: block;
    text-align: center;
    color: red;
    margin: 10px auto;
    max-width: 90%;
}

.form-label {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: all 0.2s ease;
    color: #757575;
    pointer-events: none;
    padding: 0 4px;
}

.form-control:focus+.form-label,
.form-control:not(:placeholder-shown)+.form-label {
    top: -10px;
    left: 10px;
    font-size: 0.80rem;
}

.forgot-password {
    font-size: 14px;
    cursor: pointer;
}

.forgot-password:hover {
    text-decoration: underline;
    color: rgb(44, 118, 255);
}

.resend-link.profile {
    color: #007bff;
    cursor: pointer;
    text-decoration: none;
    margin-left: 10px;
}

.resend-link.profile:hover {
    text-decoration: underline;
}

.close-button {
    position: absolute;
    top: -5px;
    right: 5px;
    font-size: 24px;
    font-weight: bold;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}

.close-button:hover {
    color: #ff0000;
    /* Change color on hover */
}

/* message */
.message-banner {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 75px;
    margin-top: 75px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    padding: 15px;
    z-index: 101;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    white-space: nowrap;
}

.message-banner.default {
    background-color: #f0f8ff;
}

.message-banner.error {
    background-color: #ff93a7;
}

.message-banner.success {
    background-color: #98ffb2;
}

.message-banner:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Similar products */
.similar-products-wrapper {
    margin-top: 5vh;
}

.similar-products-title {
    margin-bottom: 1px;
    font-size: 28px;
}

.similar-products-container {
    width: 90vw;
    height: 350px;
    border: 1px solid #ddd;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 10px;
    align-items: center;
    justify-content: flex-start;
}

.similar-product {
    height: 325px;
    width: 210px;
    text-align: center;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    transition: 0.5s ease;
    overflow: hidden;
    flex: 0 0 auto;
    text-overflow: ellipsis;
}

.similar-product:hover {
    transform: scale(1.03);
}

.similar-product-image {
    width: 180px;
    height: 250px;
}

.similar-product-name {
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
    font-size: 1.2rem;
    font-weight: 550;
}

/* stars */
.star-rating {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.star {
    color: #d3d3d3;
}

.star.filled {
    color: #FFD700;
}

/* 404 page not found */
.back-to-shopping {
    color: #ff80c0;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: text-decoration 0.3s ease, color 0.3s ease;
}

.back-to-shopping:hover {
    text-decoration: underline;
    color: #ff1493;
}

/* loading screen */
.loading-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner-circle {
    border-radius: 70%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.mobile {
    display: none;
}

@media only screen and (max-width: 225px) {
    .logo-image{
        display: none;
    }
}

/* Styles for most mobile devices */
@media only screen and (max-width: 768px) {

    .desktop {
        display: none;
    }

    .mobile {
        display: flex;
    }

    .menu-toggle-btn {
        padding: 0;
    }

    .logo-image {
        height: 65px;
        width: 95px;
        margin: 0;
        padding: 0;
        transition: opacity 0.3s ease-in-out;
    }

    .nav-bar {
        padding: 10px;
    }

    .nav-center {
        transition: opacity 0.3s ease-in-out;
    }

    .menu-item:hover svg {
        transform: none;
    }

    .search-icon {
        position: relative;
        width: 20px;
    }

    .search-container {
        margin-left: 0;
    }

    .search-input.expanded {
        margin-left: 0;
        width: 50vw;
    }

    .hidden {
        opacity: 0;
        visibility: hidden;
    }

    .similar-products-wrapper {
        text-align: center;
    }

    .similar-products-container {
        justify-content: center;
        flex-direction: column;
        overflow-x: none;
        overflow-y: scroll;
        height: auto;
        min-width: 250px;
        padding: 5px;
    }

    .similar-product {
        justify-content: center;
        margin: auto;
        width: 80%;
        height: 100%;
    }

    .similar-product-image {
        width: 200px;
        height: 270px;
    }

    .similar-product:hover {
        transform: none;
    }

    .login-container {
        width: 90%;
    }

    .message-banner {
        width: auto;
        max-width: 70%;
        padding: 10px;
    }

    .results-container {
        width: 90%;
    }
    
    .results-container.visible {
        max-height: 350px;
    }
    
    .result-image img {
        width: 100px;
        height: 150px;
        margin: 5px;
    }
    
    .result-details {
        max-height: 150px;
        margin-top: 5px;
    }
    
    .result-name {
        font-size: 18px;
        margin-bottom: 4px;
    }
    
    .result-type {
        font-size: 15px;
    }

    .result-age {
        font-size: 15px;
        margin-bottom: 5px;
    }
    
    .result-description {
        font-size: 12px;
    }

}