.banner {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 350px;
  margin-top: 90px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f59af161;
}

.banner-content {
  position: relative;
}

/* products display */
.view-container.products .row {
  display: flex;
  position: relative;
  justify-content: center;
  min-height: 100vh;
  padding: 10px;
  margin: 10px;
  width: 100%;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  max-width: 80vw;
}

.card-container.default-layout {
  justify-content: flex-start;
  align-items: start;
}

.card-container.center-layout {
  justify-content: center;
  align-items: center;
}

.product-card {
  width: 100%;
  height: auto;
  padding: 10px;
  cursor: pointer;
  box-sizing: border-box;
  transition: transform 0.8s ease, box-shadow 0.5s ease;
}

.product-card:hover {
  transform: scale(1.005);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-body img {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 2.2/2.9;
}

.product-details {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: auto;
  padding: 5px;
}

.card-title {
  width: 100%;
  font-size: 24px;
  font-weight: 550;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card-price {
  font-size: 22px;
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 0;
}

.card-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.shop-btn {
  margin-top: 10px;
  margin-bottom: 5px;
}

/* filter box */
.filter-box {
  position: sticky;
  top: 150px;
  height: fit-content;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

.filter-box h4 {
  text-align: center;
  border-bottom: 1px solid #ccc;
  font-size: 24px;
  font-weight: 100;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.type-filter input {
  margin-left: 20px;
  cursor: pointer;
}

.type-filter label {
  margin-left: 5px;
  margin-top: 5px;
  font-size: 16px;
  cursor: pointer;
}

.price-filter {
  margin-top: 15px;
  justify-content: center;
  text-align: center;
}

.price-label {
  display: flex;
  justify-content: center;
  width: 100%;
}

.price-label label {
  font-size: 16px;
  text-align: center;
}

.price-filter input {
  width: 100%; 
  max-width: 175px;
}

/* sort by */
.sort-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 2vw;
}

.sort-container label {
  margin-right: 10px;
  font-weight: bold;
}

.sort-container select {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
}


@media (max-width: 768px) {
  
  .sort-container {
    justify-content: center;
    margin: 0;
    margin-bottom: 10px;
  }

}