.banner-section {
  position: relative;
  cursor: pointer;
}

.banner {
  left: 0;
  top: 0;
  margin-top: 90px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f59af161;
}

.banner-img {
  width: 100%;
}

.arrow-container {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.arrow-container svg {
  fill: black;
  animation: bounce 1s infinite;
  transition: transform 0.3s ease;
}

.arrow-container:hover svg {
  transform: translateY(5px);
}

/* Keyframe for bounce effect */
@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }
}

/* empty graphic */
.empty-wishlist {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.empty-wishlist img {
  width: 50%;
}

/* products display */
.view-container.products .row {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding: 10px;
  margin: 10px;
  width: 100%;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  max-width: 80vw;
}

.card-container.default-layout {
  justify-content: flex-start;
  align-items: start;
}

.card-container.center-layout {
  justify-content: center;
  align-items: center;
}

.product-card {
  width: 100%;
  height: auto;
  padding: 10px;
  cursor: pointer;
  box-sizing: border-box;
  transition: transform 0.8s ease, box-shadow 0.5s ease;
}

.product-card:hover {
  transform: scale(1.005);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-body img {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 2.2/2.9;
}

.product-details {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: auto;
  padding: 5px;
}

.card-title {
  width: 100%;
  font-size: 24px;
  font-weight: 550;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card-price {
  font-size: 22px;
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 0;
}

.card-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.shop-btn {
  margin-top: 10px;
  margin-bottom: 5px;
}

/* filter box */
.filter-box {
  position: sticky;
  top: 150px;
  height: fit-content;
  width: 100%;
  padding: 10px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

.filter-box h4 {
  color: black;
  text-align: center;
  font-size: 24px;
  font-weight: 100;
  margin-bottom: 3px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

.type-filter input {
  margin-left: 20px;
  cursor: pointer;
}

.type-filter label {
  margin-left: 5px;
  margin-top: 5px;
  font-size: 16px;
  cursor: pointer;
}

.price-filter {
  margin-top: 15px;
  justify-content: center;
  text-align: center;
}

.price-label {
  display: flex;
  justify-content: center;
  width: 100%;
}

.price-label label {
  font-size: 16px;
  text-align: center;
}

.price-filter input {
  width: 100%;
  max-width: 175px;
}

/* sort by */
.sort-container {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  width: 100%;
}

.sort-container select {
  width: 100%;
  text-align: center;
  padding: 5px;
  border: none;
  cursor: pointer;
  font-weight: 550;
  font-size: 18px;
}


/* Styles for most mobile devices (smartphones in portrait) */
@media only screen and (max-width: 768px) {

  .arrow-container {
    display: none;
  }

  .product-card:hover {
    transform: none;
    box-shadow: none;
  }

  .banner {
    margin-bottom: 0;
  }

  .banner-img {
    display: none;
  }

  .sort-container select {
    font-size: 14px;
  }

  .filter-toggle-btn {
    position: fixed;
    left: 10px;
    top: 120px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    padding: 0;
    margin: 0;
  }

  .filter-box {
    position: sticky;
    border: none;
    width: 50vw;
    margin: 0;
    padding: 0;
    z-index: 2;
  }

  .mobile-filter-box {
    position: fixed;
    top: 90px;
    left: -100%;
    width: 60%;
    height: 75%;
    padding: 10px;
    padding-top: 30px;
    background-color: #fff;
    border: 1px solid #ccc;
    transition: left 5.5s ease-in-out;
  }

  .mobile-filter-box.open {
    left: 0;
  }

  .filter-toggle-btn.open {
    z-index: 101;
  }

}