.banner {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 350px;
  margin-top: 75px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f59af161;
}

.banner-content {
  position: relative;
}

#products {
  position: relative;
  height: 100vh auto;
}

#products_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-container{
  margin-bottom: 20px;
}

.product-card {
  height: auto;
  width: auto;
  margin: 15px;
  padding: 15px;
  background-color: #fff;
  border-radius: 8px;
  cursor: pointer;
  justify-content: center;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}

.product-card:hover {
  transform: scale(1.01);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.product-image {
  width: 100%;
  height: 100%;
  display: block;
  margin-bottom: 10px;
}

.product-details{
  height: 85px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: auto;
  padding: 5px;
}

.card-title {
  font-size: 24px;
  font-weight: 550;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.card-price {
  font-size: 26px;
  font-weight: 400;
}

.card-footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
}

.shop-btn{
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (max-width: 991px) {
  .card-title {
    display: block;
  }
} 

@media (max-width: 250px) {
  .product-details {
    height: 3vh;
    margin: 3px;
  }

  .card-title {
    display: none;
  }
}



/* @media (max-width: 991px) {
  .card-title {
    font-size: 16px;
  }
  .card-price {
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .product-card {
    width: 100%;
    margin: 10px;
  }
  .card-title {
    font-size: 14px;
  }
  .card-price {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .product-card {
    padding: 10px;
  }
  .product-image {
    margin-bottom: 5px;
  }
  .card-title {
    font-size: 12px;
  }
  .card-price {
    font-size: 14px;
  }
  .shop-btn {
    width: 35px;
    height: 35px;
  }
} */

/* @media (max-width: 320px) {
  .product-card {
    padding: 8px;
  }
  .card-title {
    font-size: 10px;
  }
  .card-price {
    font-size: 12px;
  }
  .shop-btn {
    width: 30px;
    height: 30px;
  }
} */