.view-container.profile{
    margin-top: 90px;
    padding-top: 3vh;
}

.profile-container {
    width: 90%;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.profile-section {
    width: 50%;
    margin-bottom: 15px;
}

.input-group {
    align-items: left;
    flex-direction: column; 
}

.input-with-button {
    display: flex;
    align-items: center;
}


.profile-section.email input,
.profile-section.password input {
    width: 100%; 
    padding: 10px;
    font-size: 1.1rem;
    border: 1px solid #ccc;
}

.profile-section label {
    font-size: 21px;
    font-weight: 550;
}

.profile-info svg {
    cursor: pointer;
    margin-left: 10px;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.profile-info svg:hover {
    transform: scale(1.1);
}

.profile-section p {
    font-size: 1rem;
    text-align: center;
}


/* order history */
.order-history{
    width: 50%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f9f9f9;
}