.view-container {
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.products-container {
    display: flex;
    height: 75%;
    width: 75%;
}